In [88]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_pd = pd.read_csv(file_to_load)
purchase_data_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [89]:
pur_data_df = pd.read_csv(file_to_load, encoding="utf-8")
pur_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [91]:
# Remove the rows with missing data
clean_pd_df = pur_data_df.dropna(how="any")
clean_pd_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [92]:
# Calculate the number of unique players in the DataFrame
player_count = len(pur_data_df["SN"].unique())
player_count

576

In [ ]:
Purchasing Analysis (Total)
Run basic calculations to obtain number of unique items, average price, etc.
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [93]:
item_count = len(pur_data_df["Item ID"].unique())
item_count

183

In [94]:
total_revenue = pur_data_df["Price"].sum()
total_revenue

2379.77

In [95]:
average = pur_data_df["Price"].mean()
average

3.050987179487176

In [ ]:
# The value_counts method counts unique values in a column
purchase_count = pur_data_df["Purchase ID"].value_counts()
purchase_count

In [96]:
# Place all of the data found into a summary DataFrame
summary_table = pd.DataFrame({"Number of Unique Items": int(item_count),
                              "Average Price": [average],
                              "Number of Purchases": [purchase_count],
                              "Total Revenue": [total_revenue]})
summary_table

,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,183,3.050987,779 1 243 1 265 1 264 1 263 1 2...,2379.77

In [104]:
gender_info = pur_data_df.groupby("Gender")

In [105]:
total_gender_num = gender_info.nunique()["SN"]

In [106]:
gender_percent = (pur_data_df.groupby("Gender").size()/pur_data_df["Gender"].count())*100
gender_percent

Gender
Female                   14.487179
Male                     83.589744
Other / Non-Disclosed     1.923077
dtype: float64

In [111]:
# Place all of the data found into a Gender DataFrame

In [131]:
gender_table = pd.DataFrame({"Total Count": total_gender_num,
                             "Percentage of Players": gender_percent
                            })
gender_table

                       Total Count  Percentage of Players
Gender
Female                          81              14.487179
Male                           484              83.589744
Other / Non-Disclosed           11               1.923077

In [121]:
purchase_info = gender_info["Purchase ID"].count()
purchase_info


# Count the total purchases by gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [123]:
# Average purchase prices by gender
avg_pur_price = gender_info["Price"].mean()
avg_pur_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [127]:
total_pur_price = gender_info["Price"].sum()
total_pur_price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [129]:
avg_pur_per_person = total_pur_price/total_gender_num
avg_pur_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [132]:
purchase_table = pd.DataFrame({"Purchase Count": purchase_info,
                             "Average Percentage Price": avg_pur_price,
                             "Total Purchase Price": total_pur_price,
                             "Average Total Purchase per Person": avg_pur_per_person,
                            })
purchase_table

,Purchase Count,Average Percentage Price,Total Purchase Price,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [133]:
# Establish bins for ages
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [135]:
# Segment and sort age values into bins established above
pur_data_df["Age Group"] = pd.cut(pur_data_df["Age"],age_bins, labels=group_names)
pur_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [172]:

# Create new data frame with the added "Age Group" and group it
age_data = pur_data_df.groupby("Age Group")
age_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group,Purchase Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,<10
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,<10
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,<10
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,<10
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,<10
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24,<10
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39,<10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39,<10
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39,<10
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34,<10
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39,<10
23,23,Eyrian71,40,Male,151,Severance,3.40,40+,<10
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34,<10
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29,<10
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14,<10
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19,<10
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39,<10
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14,<10
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19,<10
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34,<10
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14,<10
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19,<10
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29,<10
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34,<10
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34,<10
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14,<10
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29,<10
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14,<10
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19,<10
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19,<10
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29,<10
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29,<10
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+,<10
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+,<10
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+,<10

In [148]:
total_by_age = age_data["SN"].nunique()
total_by_age

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [151]:
# Calculate percentages by age category 
percent_by_age = (total_by_age/player_count) * 100
percent_by_age.head()

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
Name: SN, dtype: float64

In [163]:
age_bin_table = pd.DataFrame({"Total Count": total_by_age,
                             " Percentage of Players": percent_by_age
                            })
age_bin_table

           Total Count   Percentage of Players
Age Group
<10                 17                2.951389
10-14               22                3.819444
15-19              107               18.576389
20-24              258               44.791667
25-29               77               13.368056
30-34               52                9.027778
35-39               31                5.381944
40+                 12                2.083333

In [175]:
# Establish bins for ages
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [176]:
# Segment and sort age values into bins established above
pur_data_df["Age Group"] = pd.cut(pur_data_df["Age"],age_bins, labels=group_names)
pur_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group,Purchase Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,<10
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,<10
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,<10
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,<10
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,<10

In [189]:
# Create new data frame with the added "Age Group" and group it
purchase_data = pur_data_df.groupby("Age Group")
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group,Purchase Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,<10
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,<10
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,<10
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,<10
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,<10
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24,<10
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39,<10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39,<10
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39,<10
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34,<10
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39,<10
23,23,Eyrian71,40,Male,151,Severance,3.40,40+,<10
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34,<10
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29,<10
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14,<10
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19,<10
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39,<10
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14,<10
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19,<10
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34,<10
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14,<10
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19,<10
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29,<10
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34,<10
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34,<10
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14,<10
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29,<10
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14,<10
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19,<10
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19,<10
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29,<10
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29,<10
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+,<10
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+,<10
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+,<10

In [201]:
# Count purchases by age group
pur_by_age = purchase_data["Purchase ID"].count()
pur_by_age

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [192]:
# Obtain average purchase price by age group 
avg_pur_price_age = purchase_data["Price"].mean()
avg_pur_price_age

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [202]:
# Calculate total purchase value by age group 
total_pur_value = purchase_data["Price"].sum()
total_pur_value

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [203]:
# Calculate the average purchase per person in the age group 
avg_pur_per_person_age = (total_pur_value/total_by_age)
avg_pur_per_person_age

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [ ]:
total_pur_count = purchase_data["Purchase ID"].sum()
total_pur_count

In [213]:
purchase_age_table = pd.DataFrame({"Purchase Count": pur_by_age,
                             "Average Percentage Price": avg_pur_price_age,
                             "Total Purchase Value": total_pur_value,
                             "Average Total Purchase per Person": avg_pur_per_person_age
                            })
purchase_age_table

,Purchase Count,Average Percentage Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667